<!-- start mainHome -->
<header
  class="py-5"
  [ngStyle]="{ background: 'url(' + backgroundUrl + ') no-repeat 0 0 / cover' }"
>
  <div class="container py-3">
    <div class="row py-5">
      <div class="col-md-6 py-5">
        <div class="home-intro">
          <h1 class="py-2 m-3 display-3 fw-bolder heading-home">
            What is brain tumors ?
          </h1>
          <p class="blockquote py-2 m-3 fw-bold fs-2">
            A brain tumor is a growth of cells in the brain or near it. Brain
            tumors can happen in the brain tissue. Brain tumors also can happen
            near the brain tissue. Nearby locations include nerves, the
            pituitary gland, the pineal gland, and the membranes that cover the
            surface of the brain.
          </p>
        </div>
        <div class="home-btn py-4">
          <a
            href="https://www.theguardian.com/science/2023/jul/07/brain-tumors-gliomas-ai-tool?ref=upstract.com"
            target="_blank"
            class="btn loginbtn p-3 fs-3 fw-bolder"
            >Read more</a
          >
        </div>
      </div>
      <div class="col-md-6">
        <img
          class="w-100 my-2 img-home"
          src="assets/home/home2.png"
          alt="PicOfHome"
        />
      </div>
    </div>
  </div>
</header>

<div class="container-fluid py-2">
  <div class="row py-5">
    <div class="col-md-4 py text-center">
      <h2 class="heading-home fs-3 fw-bolder">Our Services</h2>
      <img src="assets/home/Group.png" alt="" />
    </div>
    <div class="offset-1 col-md-3">
      <div class="ourDoctor text-center">
        <img class="p-2" src="assets/home/Doctor Male.png" alt="Doctor Male" />
        <h3 class="heading-home fw-bold p-2">Our Docotrs</h3>
        <p class="blockquote p-2">
          ""Find one of the best Doctors to get instant medical advice and
          second opinion for your health problems."
        </p>
        <a class="fw-bold p-3">Chosse a doctor ></a>
      </div>
    </div>
    <div class="col-md-3">
      <div class="scanDicribe text-center">
        <img class="py-2" src="assets/home/scan 1.png" alt="scan" />
        <h3 class="heading-home fw-bold py-2">scan your own MRI</h3>
        <p class="blockquote p-2">
          "Our website offers a unique feature that allows users to conveniently
          upload their X-ray images, enabling them to obtain accurate diagnoses
          and valuable insights regarding their medical condition."
        </p>
        <a class="fw-bold p-3" routerLink="/upload">Scan now ></a>
      </div>
    </div>
  </div>
</div>

<!-- <div class="container">
    <div class="row">
        <div class="col-md-6  py-2">
            <div class="home-intro">
                <h1 class="py-2 m-3 fs-1 fw-bolder" id="heading-home">Brain tumors</h1>
                <p class="blockquote py-2 m-3 fw-bolde fs-2 ">A brain tumor is a growth of cells in the brain that
                    multiplies in an abnormal, uncontrollable way.</p>
            </div>
            <div class=" text-center boxbtn ">
                <button routerLink="/upload" class="scan-btn p-3 my-3 " type="button">
                    <span class="fa fa-search-plus"></span> Scan
                </button>
            </div>
        </div>
        <div class="col-md-6">
            <img class="w-100 my-2 " src="assets/home/home.png" alt="PicOfHome">
        </div>
    </div>
</div> -->

<!-- end mainHome -->

<!-- start secondHome -->

<div class="container">
  <div class="row py-5 my-3">
    <div class="row py-2 my-3">
      <div class="text-center">
        <h2 class="text-danger fw-bolder">Our Doctors</h2>
        <h1 class="headingDocCard py-4 my-3 fw-bolde">
          Meet Our Professional Doctors
        </h1>
        <mat-progress-spinner
          class="m-auto"
          mode="indeterminate"
          *ngIf="IsWait"
        >
        </mat-progress-spinner>
      </div>
    </div>
    <div
      id="carouselExampleInterval"
      class="carousel slide"
      data-bs-ride="carousel"
    >
      <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="10000">
          <div class="row">
            <div *ngFor="let doc of topDoctor" class="col-md col-sm-6">
              <div class="card text-center w-100">
                <img
                  src="https://media.istockphoto.com/id/610003972/vector/vector-businessman-black-silhouette-isolated.jpg?s=612x612&w=0&k=20&c=Iu6j0zFZBkswfq8VLVW8XmTLLxTLM63bfvI6uXdkacM="
                  class="card-img-top w-100"
                  alt="doc1"
                />
                <div class="card-body">
                  <p class="card-title fw-bolder fs-5">
                    Dr:&nbsp;{{ doc?.firstName + " " + doc?.lastName }}
                  </p>
                  <h6 class="fw-bolder">
                    <i class="fa fa-map-marker py-2"></i> {{ doc?.address }}
                  </h6>
                  <h6 class="fw-bolder fs-5 text-success">
                    TotalRate :&nbsp;{{ doc?.rating }}
                  </h6>
                  <a (click)="openDocProfile(doc?._id)" class="btn btn-primary"
                    >See more</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="2000">
          <div class="row">
            <div *ngFor="let doc of topDoctor" class="col-md col-sm-6">
              <div class="card text-center w-100">
                <img
                  src="https://media.istockphoto.com/id/610003972/vector/vector-businessman-black-silhouette-isolated.jpg?s=612x612&w=0&k=20&c=Iu6j0zFZBkswfq8VLVW8XmTLLxTLM63bfvI6uXdkacM="
                  class="card-img-top w-100"
                  alt="doc1"
                />
                <div class="card-body">
                  <p class="card-title fw-bolder fs-5">
                    Dr:&nbsp;{{ doc?.firstName + " " + doc?.lastName }}
                  </p>
                  <h6 class="fw-bolder">
                    <i class="fa fa-map-marker py-2"></i> {{ doc?.address }}
                  </h6>
                  <h6 class="fw-bolder fs-5 text-success">
                    TotalRate :&nbsp;{{ doc?.rating }}
                  </h6>
                  <a (click)="openDocProfile(doc?._id)" class="btn btn-primary"
                    >See more</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row">
            <div *ngFor="let doc of topDoctor" class="col-md col-sm-6">
              <div class="card text-center w-100">
                <img
                  src="https://media.istockphoto.com/id/610003972/vector/vector-businessman-black-silhouette-isolated.jpg?s=612x612&w=0&k=20&c=Iu6j0zFZBkswfq8VLVW8XmTLLxTLM63bfvI6uXdkacM="
                  class="card-img-top w-100"
                  alt="doc1"
                />
                <div class="card-body">
                  <p class="card-title fw-bolder fs-5">
                    Dr:&nbsp;{{ doc?.firstName + " " + doc?.lastName }}
                  </p>
                  <h6 class="fw-bolder">
                    <i class="fa fa-map-marker py-2"></i> {{ doc?.address }}
                  </h6>
                  <h6 class="fw-bolder fs-5 text-success">
                    TotalRate :&nbsp;{{ doc?.rating }}
                  </h6>
                  <a (click)="openDocProfile(doc?._id)" class="btn btn-primary"
                    >See more</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExampleInterval"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExampleInterval"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</div>

<!-- end second Home -->

<!-- <div *ngFor="let doc of topDoctor" class="col-md-4">
    <div  *ngIf="!IsWait" class="card text-center w-75">
        <img [src]="doc.Image.path" class="card-img-top w-100" alt="doc1">
        <div class="card-body">
            <p class="card-title fw-bolder fs-5">Dr :&nbsp;{{doc.firstName+' '+doc.lastName}}</p>
            <h6 class="fw-bolder"><i class="fa fa-map-marker py-2"></i> {{doc.address}}</h6>
            <h6 class="fw-bolder fs-5 text-success">TotalRate :&nbsp;{{doc.totalRate}}</h6>
            <a href="#top" class="btn btn-primary">See more</a>
        </div>
    </div>
</div>
</div> -->
