<!-- start doctorCard -->
<div class="m-auto">
  <mat-progress-spinner class="m-auto" mode="indeterminate" *ngIf="IsWait">
  </mat-progress-spinner>
</div>
<div *ngIf="!IsWait" class="container">
  <div class="row my-5 py-4">
    <div class="col-md-10 text-center">
      <h1 class="doctorJob fw-bolder text-center">Profile</h1>
      <img
        class="w-25 rounded-5"
        src="https://media.istockphoto.com/id/610003972/vector/vector-businessman-black-silhouette-isolated.jpg?s=612x612&w=0&k=20&c=Iu6j0zFZBkswfq8VLVW8XmTLLxTLM63bfvI6uXdkacM="
        alt="docProfile"
      />
    </div>
    <div class="offset-1 col-md-1">
      <a
        name="editProfile"
        id="editProBtn"
        routerLink="/profile/Doctor/edit"
        class="btn"
        role="button"
      >
        Edit profile</a
      >
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h4 class="headColor fw-bolder">First Name</h4>
      <span class="bg-light">
        <p class="Pinfo">{{ docProfileData?.firstName }}</p>
      </span>
    </div>
    <div class="col-md-6">
      <h4 class="headColor fw-bolder">Last Name</h4>
      <span class="bg-light">
        <p class="Pinfo">{{ docProfileData?.lastName }}</p>
      </span>
    </div>
    <div class="col-md-6">
      <h4 class="headColor fw-bolder">E-mail</h4>
      <span class="bg-light">
        <p class="Pinfo">{{ docProfileData?.email }}</p>
      </span>
    </div>
    <div class="col-md-6">
      <h4 class="headColor fw-bolder">Address</h4>
      <span class="bg-light">
        <p class="Pinfo">{{ docProfileData?.address }}</p>
      </span>
    </div>
    <div class="col-md-6">
      <h4 class="headColor fw-bolder">Phone Number</h4>
      <span class="bg-light">
        <p class="Pinfo">{{ docProfileData?.phone }}</p>
      </span>
    </div>
    <!-- <div class="col-md-6">
            <h4 class="headColor fw-bolder"> clinicAddress  </h4>
            <span class="bg-light">
                <p class="Pinfo">{{docProfileData?.clinicAddress}}</p>
            </span>
        </div> -->
  </div>
  <!-- <div class="col-md-8  py-3">
        <h1 class="fw-bolder">Dr.{{docProfileData?.firstName +' '+ docProfileData?.lastName}} </h1>
        <h5><i class="fa fa-map-marker py-2 "></i> {{docProfileData?.address}}</h5>
        <p class="doctorJob"> {{docProfileData?.email}}</p>
        <p class="doctorJob"> {{docProfileData?.phone}}</p>
        

    </div> -->
</div>
<!-- end doctorCard -->

<!-- start secondHome -->
<div class="container">
  <hr />
  <div class="row py-5 my-3">
    <div class="row py-2 my-3">
      <div class="text-center">
        <h1 class="doctorJob fw-bolder">Your upcoming appointments</h1>
      </div>
    </div>
    <div *ngFor="let cApp of comingAppoint" class="col-md-3 py-4">
      <div class="card text-center fs-4 w-75">
        <img
          src="assets/home/appoint.png"
          class="card-img-top w-100"
          alt="doc1"
        />
        <div class="card-body">
          <h4 class="card-title fw-bolder">
            {{ cApp?.userId?.firstName + " " + cApp?.userId?.lastName }}
          </h4>
          <h5>{{ cApp.Date }}</h5>
          <!-- <h6 class="fw-bolde">
            <i class="fa fa-clock-o py-2"></i> {{ cApp?.Time }}
          </h6> -->
          <h6 class="fw-bolde">
            <i class="fa fa-map-marker py-2"></i> {{ cApp?.userId?.address }}
          </h6>
          <!-- <button
            (click)="openPatientProfile(pID.value)"
            #pID
            [value]="cApp?.userId?._id"
            class="btn btn-primary fw-bold"
          >
            See more
          </button> -->
          <!-- {{pID.value}} -->
        </div>
      </div>
    </div>
    <!-- <div *ngFor="let cApp of comingAppoint" class="col-lg-4 col-md-6 col-xs-12">
            <div class="card text-center fs-4 w-75">
                <img src="assets/home/appoint.png" class="card-img-top w-100" alt="doc1">
                <div class="card-body">
                    <h4 class="card-title fw-bolder">Ali</h4>
                    <h5>Sunday</h5>
                    <h6 class="fw-bolde"><i class="fa fa-clock-o py-2"></i> 11:00 AM</h6>
                    <h6 class="fw-bolde"><i class="fa fa-map-marker py-2"></i> Fayoum</h6>
                    <a href="#" class="btn btn-primary ">See more</a>
                </div>
            </div>
        </div> -->
  </div>
</div>

<!-- end second Home -->
