<div class="container">
    <div class="row">
        <div class="app-splash-screen" [ngStyle]="{ left: windowWidth }" *ngIf="showSplash">
            <div class=" row app-splash-inner">
                <div class="col-md">
                    <img class="app-logo" src="./../../../assets/home/splash.png" alt="siteLogo">
                </div>

                <div class="col-md">
                    <h1 class="app-label">Brain tumors detection</h1>
                </div>
                <div class="col-md">
                    <mat-progress-spinner [color]="color" class="m-auto app-loader" mode="indeterminate"></mat-progress-spinner> 
                </div>
            </div>
        </div>
    </div>
</div>




<!-- <div class="app-splash-screen" [ngStyle]="{ left: windowWidth }" *ngIf="showSplash">
    <div class="app-splash-inner">
    
            <div class="col-md">
                <div class="app-logo"><img src="./../../../assets/home/splash.png" alt="siteLogo"></div>
            </div>
            <div class="col-md">
                <div class="app-label">Brain tumors detection</div>
            </div>
            <div class="col-md">
                <div class="app-loader">
                    <mat-progress-spinner class="m-auto" mode="indeterminate"></mat-progress-spinner>
                </div>
            </div>
        
    </div>
</div> -->