<header
  class="secondHome"
  [ngStyle]="{ background: 'url(' + backgroundUrl + ') no-repeat 0 0 / cover' }"
>
  <div class="home-intro text-center">
    <h1 class="py-2 m-3 display-3 fw-bolder heading-home">Scan Now!</h1>
  </div>
  <div class="container py-3">
    <div class="row py-5">
      <div class="col-md-5">
        <div class="our-scan text-center rounded-5">
          <div class="py-2">
            <img
              class="py-3"
              [src]="imgView ? imgView : 'assets/scan/Vector.png'"
              alt="upload"
              width="167"
              height="199"
            />
            <div *ngIf="isScanning === false">
              <h2 id="head-scan" class="fs-3 fw-bolder py-2">
                Upload photo here
              </h2>
              <p class="text-danger fw-bolder fs-5">
                You have to upload Brain MRI image
              </p>
            </div>
            <div *ngIf="loading === false">
              <h2 id="head-scan" class="fs-3 fw-bolder py-2">
                The result Of Model :
              </h2>
              <p class="text-danger fw-bolder fs-5">{{ resModel }}</p>
            </div>
            <mat-progress-spinner
              class="m-auto"
              mode="indeterminate"
              *ngIf="imgDone === true"
            >
            </mat-progress-spinner>
          </div>
        </div>
        <input
          class="filebtn"
          type="file"
          name="image"
          accept="image/x-png,image/gif,image/jpeg"
          (change)="handleChangeImage($event)"
        />
        <div class="py-5">
          <button class="scan-btn col-md-3 mx-5" type="button">Browse</button>

          <button
            class="scan-btn col-md-3 mx-5"
            type="button"
            (click)="handleUploadImage()"
          >
            Scan
          </button>
        </div>
      </div>
      <div class="offset-1 col-md-6">
        <img
          class="w-100 my-2 img-home"
          src="assets/scan/amico.png"
          alt="PicOfHome"
        />
      </div>
    </div>
  </div>
</header>
<div class="container">
  <div class="row">
    <div class="align-items-center">
      <div class="row py-2 my-3">
        <div class="text-center">
          <h2 class="text-danger fw-bolder">Our Doctors</h2>
          <h1 class="headingDocCard py-4 my-3 fw-bolde">
            Meet Our Professional Doctors
          </h1>
          <mat-progress-spinner
            class="m-auto"
            mode="indeterminate"
            *ngIf="IsWait == true"
          >
          </mat-progress-spinner>
        </div>
      </div>

      <div
        id="carouselExampleInterval"
        class="carousel slide"
        data-bs-ride="carousel"
      >
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="10000">
            <div class="row">
              <div *ngFor="let doc of topDoctor" class="col-md col-sm-6">
                <div class="card text-center w-100">
                  <img
                    src="https://media.istockphoto.com/id/610003972/vector/vector-businessman-black-silhouette-isolated.jpg?s=612x612&w=0&k=20&c=Iu6j0zFZBkswfq8VLVW8XmTLLxTLM63bfvI6uXdkacM="
                    class="card-img-top w-100"
                    alt="doc1"
                  />
                  <div class="card-body">
                    <p class="card-title fw-bolder fs-5">
                      Dr:&nbsp;{{ doc?.firstName + " " + doc?.lastName }}
                    </p>
                    <h6 class="fw-bolder">
                      <i class="fa fa-map-marker py-2"></i> {{ doc?.address }}
                    </h6>
                    <h6 class="fw-bolder fs-5 text-success">
                      TotalRate :&nbsp;{{ doc?.rating }}
                    </h6>
                    <a class="btn btn-primary">See more</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item" data-bs-interval="2000">
            <div class="row">
              <div *ngFor="let doc of topDoctor" class="col-md col-sm-6">
                <div class="card text-center w-100">
                  <img
                    src="https://media.istockphoto.com/id/610003972/vector/vector-businessman-black-silhouette-isolated.jpg?s=612x612&w=0&k=20&c=Iu6j0zFZBkswfq8VLVW8XmTLLxTLM63bfvI6uXdkacM="
                    class="card-img-top w-100"
                    alt="doc1"
                  />
                  <div class="card-body">
                    <p class="card-title fw-bolder fs-5">
                      Dr:&nbsp;{{ doc?.firstName + " " + doc?.lastName }}
                    </p>
                    <h6 class="fw-bolder">
                      <i class="fa fa-map-marker py-2"></i> {{ doc?.address }}
                    </h6>
                    <h6 class="fw-bolder fs-5 text-success">
                      TotalRate :&nbsp;{{ doc?.rating }}
                    </h6>
                    <a class="btn btn-primary">See more</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="row">
              <div *ngFor="let doc of topDoctor" class="col-md col-sm-6">
                <div class="card text-center w-100">
                  <img
                    src="https://media.istockphoto.com/id/610003972/vector/vector-businessman-black-silhouette-isolated.jpg?s=612x612&w=0&k=20&c=Iu6j0zFZBkswfq8VLVW8XmTLLxTLM63bfvI6uXdkacM="
                    class="card-img-top w-100"
                    alt="doc1"
                  />
                  <div class="card-body">
                    <p class="card-title fw-bolder fs-5">
                      Dr:&nbsp;{{ doc?.firstName + " " + doc?.lastName }}
                    </p>
                    <h6 class="fw-bolder">
                      <i class="fa fa-map-marker py-2"></i> {{ doc?.address }}
                    </h6>
                    <h6 class="fw-bolder fs-5 text-success">
                      TotalRate :&nbsp;{{ doc?.rating }}
                    </h6>
                    <a class="btn btn-primary">See more</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExampleInterval"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExampleInterval"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>
</div>
