#form-container{
    background-color:#FFFFFF;
}
// header{
//     height: 100vh;
// }
.form-head h2{
    color:#1A998E;   
}
.heading-login {
  color: #1A998E;
}
.login-btn{
    width: 35%;
    background-color: #1A998E;
    color: #FFFFFF;
    font-size: 25px;
    font-weight: 800;
}  
.secondHome{
    padding-bottom: 18rem;
} 
// input.example-right-align::-webkit-outer-spin-button,
// input.example-right-align::-webkit-inner-spin-button {
//   display: none;
// }
    