<header
  class="secondHome"
  [ngStyle]="{ background: 'url(' + backgroundUrl + ') no-repeat 0 0 / cover' }"
>
  <div class="container pt-4 rounded-2">
    <div class="row p-5">
      <div class="col-md-6">
        <img src="assets/login/amico.png" alt="" />
      </div>
      <div class="col-md-6">
        <div class="rounded-5 p-5">
          <form [formGroup]="loginForm" (ngSubmit)="getFormData(loginForm)">
            <div id="form-container">
              <div class="form-head p-3">
                <h2 class="display-4 fw-bolder">Welcome back</h2>
                <p class="fw-bold fs-4">Login to continue</p>
                <div *ngIf="errMessage">
                  <p mat-stroked-button (click)="openSnackBar()"></p>
                  <!-- <p class="alert alert-danger w-100 text-center fw-bold"> {{errMessage.error.message}}</p> -->
                </div>
              </div>
              <mat-progress-spinner
                class="text-center"
                mode="indeterminate"
                *ngIf="IsWait"
              >
              </mat-progress-spinner>
              <div *ngIf="!IsWait" class="offset-1 col-md-9 login-form">
                <div class="mb-3">
                  <label class="form-label fs-4 fw-bolder heading-login"
                    >Email</label
                  >
                  <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Enter your email</mat-label>
                    <input
                      matInput
                      placeholder="pat@example.com"
                      [class.is-invalid]="
                        loginForm.get('email')?.invalid == true &&
                        loginForm.get('email')?.touched == true
                      "
                      type="email"
                      formControlName="email"
                    />
                  </mat-form-field>
                  <span
                    *ngIf="
                      loginForm.get('email')?.invalid == true &&
                      loginForm.get('email')?.touched == true
                    "
                    class="bgFont d-block text-danger"
                    >email not Valid</span
                  >
                </div>
                <div class="mb-3">
                  <label for="" class="form-label fs-4 fw-bolder heading-login"
                    >Password</label
                  >
                  <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Enter your password</mat-label>
                    <input
                      matInput
                      [type]="hide ? 'password' : 'text'"
                      [class.is-invalid]="
                        loginForm.get('password')?.invalid == true &&
                        loginForm.get('password')?.touched == true
                      "
                      type="password"
                      formControlName="password"
                    />
                    <button
                      mat-icon-button
                      matSuffix
                      (click)="hide = !hide"
                      [attr.aria-label]="'Hide password'"
                      [attr.aria-pressed]="hide"
                    >
                      <mat-icon>{{
                        hide ? "visibility_off" : "visibility"
                      }}</mat-icon>
                    </button>
                  </mat-form-field>
                  <span
                    *ngIf="
                      loginForm.get('password')?.invalid == true &&
                      loginForm.get('password')?.touched == true
                    "
                    class="bgFont d-block text-danger"
                    >Password not Valid</span
                  >
                </div>

                <!-- Start Role Doctor -->
                <!-- <div class="form-check form-switch mb-3">
                  <mat-slide-toggle
                    formControlName="type"
                    color="primary"
                  ></mat-slide-toggle>
                  <label
                    class="form-check-label fs-5"
                    for="flexSwitchCheckChecked"
                    >Enable it if you are a doctor</label
                  >
                </div> -->
                <!-- End Role Doctor  -->

                <div class="text-center p-3">
                  <button
                    [disabled]="loginForm.invalid == true"
                    type="submit"
                    class="btn login-btn rounded-4"
                  >
                    Login
                  </button>
                  <span>
                    New User ? <a routerLink="/signup">Creat Account</a></span
                  >
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- <div class="display-3">
        {{loginForm.value|json}}
    </div> -->

<!-- <input
    [class.is-invalid]="loginForm.get('email')?.invalid == true  && loginForm.get('email')?.touched == true"
    type="email" formControlName="email" class="form-control bg-light py-3 rounded-3"
    placeholder="Enter your email address"> -->

<!-- <label for="" class="form-label fs-4 fw-bolder">Password</label>
                        <input [class.is-invalid]="loginForm.get('password')?.invalid == true  && loginForm.get('password')?.touched == true"
                            type="password" formControlName="password" class="form-control bg-light py-3 rounded-3"
                            placeholder="Enter your password" matInput [type]="hide ? 'password' : 'text'">
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                        <span *ngIf='loginForm.get("password")?.invalid == true  && loginForm.get("password")?.touched == true'
                            class="bgFont d-block text-danger">Password not Valid</span> -->
