<header class="secondHome" [ngStyle]="{'background': 'url(' + backgroundUrl + ') no-repeat 0 0 / cover'}">
  <div class="container py-3">
    <div class="row py-5">
      <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="3"
            aria-label="Slide 4"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="1000">
            <div class="row">
              <div class="col-md-6 py-5">
                <h1 class="text-center"> About Brain Tumors</h1>
                <p>Our website is designed to specifically address the detection and analysis of three prominent types
                  of brain
                  tumors: glioma tumor, meningioma tumor, and pituitary tumor.

                  These tumors have significant clinical relevance and pose significant challenges in diagnosis and
                  treatment.
                  By focusing on these specific tumor types, our website aims to provide users with accurate predictions
                  and
                  valuable information related to these specific conditions.</p>

              </div>
              <div class="col-md-6">
                <img class="w-75 my-2 img-home " src="assets/about/pana.png" alt="PicOfHome">
              </div>
            </div>
          </div>
          <div class="carousel-item" data-bs-interval="2000">
            <div class="row">
              <div class="col-md-6 py-5">
                <h1> Glioma Tumor </h1>
                <p>Our website is designed to specifically address the detection and analysis of three prominent types
                  of brain
                  tumors: glioma tumor, meningioma tumor, and pituitary tumor.

                  These tumors have significant clinical relevance and pose significant challenges in diagnosis and
                  treatment.
                  By focusing on these specific tumor types, our website aims to provide users with accurate predictions
                  and
                  valuable information related to these specific conditions.</p>

              </div>
              <div class="col-md-6">
                <img class="w-75 my-2 img-home " src="assets/about/pana2.png" alt="PicOfHome">
              </div>
            </div>
          </div>
          <div class="carousel-item " data-bs-interval="3000">
            <div class="row">
              <div class="col-md-6 py-5">
                <h1> Meningioma Tumor </h1>
                <p>Symptoms

                  If you are experiencing new, severe, or persistent symptoms, contact a health care provider.
                  Meningioma brain tumor usually comes with no symptoms, as it grows gradually the patient may show the following symptoms:
                  
                  Headache which gets severe with time
                  Change in vision causing double or blurred vision
                  Hearing disability
                  Ringing in ears
                  Loss of memory and difficulty in concentrating
                  Weakness in arms and legs
                  Loss of smell
                  Seizures
                  Numbness
                  Speech problems</p>
              </div>
              <div class="col-md-6">
                <img class="w-75 my-2 img-home " src="assets/about/pana3.png" alt="PicOfHome">
              </div>
            </div>
          </div>
          <div class="carousel-item ">
            <div class="row">
              <div class="col-md-6 py-5">
                <h1> Pituitary Tumor </h1>
                <p>Symptoms

                  If you are experiencing new, severe, or persistent symptoms, contact a health care provider.
                  Many pituitary tumors do not show symptoms. Hormone-producing tumors cause symptoms depending on the hormones they produce. When tumor size increases, it can cause pressure on the normal pituitary gland causing symptoms such as:
                  
                  Headache
                  Vision loss
                  Symptoms related to overproduction of various hormones include:
                  
                  Nausea and vomiting
                  Weakness
                  Feeling cold
                  Less frequent or no menstrual periods (amenorrhea)
                  Sexual dysfunction
                  Increased amount of urine
                  Unintended weight loss or gain</p>
              </div>
              <div class="col-md-6">
                <img class="w-75 my-2 img-home " src="assets/about/pana4.png" alt="PicOfHome">
              </div>
            </div>
          </div>
        </div>
         <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button> -
      </div>
    </div>
  </div>
</header>

<!-- <div class="skitter skitter-large with-dots m-auto">
    <ul>
      <li>
        <a href="#cut">
          <img class="w-100 my-2 img-home " src="assets/about/pana.png" alt="PicOfHome">
        </a>
        <div class="label_text">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            <a href="#see-more" class="btn btn-xs btn-warning">See more</a>
          </p>
        </div>
      </li>
      <li>
        <a href="#swapBlocks">
          <img class="w-100 my-2 img-home " src="assets/about/pana.png" alt="PicOfHome">
        </a>
        <div class="label_text">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            <a href="#see-more" class="btn btn-xs btn-warning">See more</a>
          </p>
        </div>
      </li>
      <li>
        <a href="#swapBarsBack">
          <img class="w-100 my-2 img-home " src="assets/about/pana.png" alt="PicOfHome">
        </a>
        <div class="label_text">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            <a href="#see-more" class="btn btn-xs btn-warning">See more</a>
          </p>
        </div>
      </li>
    </ul>
  </div> -->