<!-- start mainHome -->
<header
  class="secondHome"
  [ngStyle]="{ background: 'url(' + backgroundUrl + ') no-repeat 0 0 / cover' }"
>
  <div class="container py-3">
    <div class="row py-5">
      <div class="col-md-6 py-5" id="top">
        <div class="home-intro">
          <h1 class="py-2 m-3 display-3 fw-bolder heading-home">
            Welcome Doctor
          </h1>
          <p class="blockquote py-2 m-3 fw-bold fs-2">
            Get Instant update about the patient history, medical request and
            manage appointments.
          </p>
        </div>
        <div class="home-btn py-4">
          <a class="btn loginbtn p-2 fw-bolder" ref="#appoints"
            >Manage Appointments</a
          >
        </div>
      </div>
      <div class="col-md-6">
        <img
          class="w-100 my-2 py-3 img-home"
          src="assets/doctor/cuate.png"
          alt="PicOfHome"
        />
      </div>
    </div>
  </div>
</header>
<!-- <div class="container">
    <div class="row">
        <div class="col-md-6 py-5">
            <div class="home-intro">
                <h1 class="py-2 m-3 fs-1 fw-bolder" id="heading-home">Brain tumors</h1>
                <p class="blockquote py-2 m-3 fw-bolde fs-2 ">A brain tumor is a growth of cells in the brain that
                    multiplies in an abnormal, uncontrollable way.</p>
            </div>
            <div class=" text-center boxbtn ">
                <button routerLink="/appoint/Doctor/edit" class="btn signup-btn p-3 my-3 " type="button">
                    <i class="fa fa-search-plus fs-5"></i> Appointments
                </button>
            </div>
        </div>
        <div class="col-md-6">
            <img class="w-100 my-2 " src="assets/home/home.png" alt="PicOfHome">
        </div>
    </div>
</div> -->

<!-- end mainHome -->

<section id="appoints">
  <!-- start secondHome -->
  <div class="container">
    <div class="row py-5 my-3">
      <div class="row py-2 my-3">
        <div class="text-center">
          <h1 class="headingDocCard py-2 my-3 fw-bolder heading-home">
            Appointments’ Requests
          </h1>
        </div>
        <div>
          <mat-progress-spinner
            class="m-auto"
            mode="indeterminate"
            *ngIf="IsWait"
          >
          </mat-progress-spinner>
        </div>

        <div
          *ngFor="let app of appoints; let i = index"
          class="col-md-3 py-4 d-flex justify-content-center"
        >
          <div *ngIf="!IsWait" class="appointReq">
            <h4 class="fw-bolder heading-home">
              {{
                app?.userId?.firstName +
                  "
                            " +
                  app?.userId?.lastName
              }}
            </h4>
            <p class="fw-bold fs-4">{{ app?.Date }}</p>
            <!-- <h6 class="fw-bold">
              <i class="fa fa-clock-o py-2"></i> {{ app?.Time }}
            </h6> -->
            <h6 class="fw-bold">
              <i class="fa fa-map-marker py-2"></i> {{ app?.userId?.address }}
            </h6>
            <button
              type="submit"
              #acc
              (click)="cancelAppoint(acc.value)"
              [value]="app._id"
              class="btn btn-danger mx-3"
            >
              Decline
            </button>
            <!-- {{acc.value}}  -->
            <button
              #rej
              (click)="acceptAppoint(rej.value)"
              type="submit"
              [value]="app._id"
              class="btn btn-success"
            >
              Confirm
            </button>
            <!-- {{rej.value}}  -->
          </div>
        </div>
      </div>
      <!-- <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div *ngFor="let app of appoints ;let i=index" class="carousel-item active">
                        <div class="col-md-3 py-4 d-flex justify-content-center">
                            <div *ngIf="!IsWait" class="appointReq ">
                                <h4 class=" fw-bolder heading-home"> {{app?.userId?.firstName+'
                                    '+app?.userId?.lastName}} </h4>
                                <p class="fw-bold fs-4">{{app?.Date}}</p>
                                <h6 class="fw-bold"><i class="fa fa-clock-o py-2"></i> {{app?.Time}}</h6>
                                <h6 class="fw-bold"><i class="fa fa-map-marker py-2"></i> {{app?.userId?.address}}</h6>
                                <button type="submit" #acc (click)="cancelAppoint(acc.value)" [value]="app._id"
                                    class="btn btn-danger mx-3">Decline</button>
                                {{acc.value}} 
                                <button #rej (click)="acceptAppoint(rej.value)" type="submit" [value]="app._id"
                                    class="btn btn-success">Confirm</button>
                                 {{rej.value}}  
                            </div>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div> -->
    </div>
  </div>

  <!-- end second Home -->
  <div class="container">
    <div class="row py-5 my-3">
      <div class="row py-2 my-3">
        <div class="text-center">
          <h1 class="headingDocCard py-4 my-3 fw-bolder">
            Your upcoming appointments
          </h1>
        </div>
      </div>

      <div *ngFor="let cApp of comingAppoint" class="col-md-3 py-4">
        <div class="card text-center fs-4 w-75">
          <img
            src="assets/home/appoint.png"
            class="card-img-top w-100"
            alt="doc1"
          />
          <div class="card-body">
            <h4 class="card-title fw-bolder">
              {{ cApp?.userId?.firstName + " " + cApp?.userId?.lastName }}
            </h4>
            <h5>{{ cApp.Date }}</h5>
            <!-- <h6 class="fw-bolde">
              <i class="fa fa-clock-o py-2"></i> {{ cApp?.Time }}
            </h6> -->
            <h6 class="fw-bolde">
              <i class="fa fa-map-marker py-2"></i> {{ cApp?.userId?.address }}
            </h6>
            <!-- <button
              (click)="openPatientProfile(pID.value)"
              #pID
              [value]="cApp?.userId?._id"
              class="btn btn-primary fw-bold"
            >
              See more
            </button> -->
            <!-- {{pID.value}} -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div *ngFor="let doc of topDoctor ;let i=index" class="carousel-item active" >
            <div class="row">
                <div  class="col-md-10 col-sm-6 d-flex justify-content-center">
                    <div class="card text-center w-50">
                        <img [src]="doc.Image.path " class="card-img-top w-100" alt="doc1">
                        <div class="card-body">
                            <p class="card-title fw-bolder fs-5">Dr:&nbsp;{{doc.firstName+' '+doc.lastName}}</p>
                            <h6 class="fw-bolder"><i class="fa fa-map-marker py-2"></i> {{doc.address}}</h6>
                            <h6 class="fw-bolder fs-5 text-success">TotalRate :&nbsp;{{doc.totalRate}}</h6>
                            <a (click)="openDocProfile(doc._id)" class="btn btn-primary">See more</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
         <div class="carousel-item" data-bs-interval="2000">
            <div class="row">
                <div *ngFor="let doc of topDoctor" class="col-md col-sm-6">
                    <div class="card text-center w-100">
                        <img [src]="doc.Image.path" class="card-img-top w-100" alt="doc1">
                        <div class="card-body">
                            <p class="card-title fw-bolder fs-5">Dr:&nbsp;{{doc.firstName+' '+doc.lastName}}</p>
                            <h6 class="fw-bolder"><i class="fa fa-map-marker py-2"></i> {{doc.address}}</h6>
                            <h6 class="fw-bolder fs-5 text-success">TotalRate :&nbsp;{{doc.totalRate}}</h6>
                            <a (click)="openDocProfile(doc._id)" class="btn btn-primary">See more</a>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
         <div class="carousel-item">
            <div class="row">
                <div *ngFor="let doc of topDoctor" class="col-md col-sm-6">
                    <div class="card text-center w-100">
                        <img [src]="doc.Image.path" class="card-img-top w-100" alt="doc1">
                        <div class="card-body">
                            <p class="card-title fw-bolder fs-5">Dr:&nbsp;{{doc.firstName+' '+doc.lastName}}</p>
                            <h6 class="fw-bolder"><i class="fa fa-map-marker py-2"></i> {{doc.address}}</h6>
                            <h6 class="fw-bolder fs-5 text-success">TotalRate :&nbsp;{{doc.totalRate}}</h6>
                            <a (click)="openDocProfile(doc._id)" class="btn btn-primary">See more</a>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div> -->
