<header class="container  py-5">
    <div class="container">
        <div class="row align-items-center p-4">
            <section [ngStyle]="{'background': 'url(' + backgroundUrl + ') no-repeat 0 0 / cover'}"
                class="patient-profile  p-3">
                <div class="text-center py-4">
                    <h3 class="fw-bolder headColor fs-1"> Profile </h3>
                    <img src="assets/patient/Account.png" alt="account">
                </div>
                <div class="row ">
                    <div class="col-md-6 ">
                        <h4 class="headColor fw-bolder"> First Name </h4>
                        <span class="bg-light">
                            <p class="Pinfo "> {{dataPatient?.firstName}}</p>
                        </span>
                    </div>
                    <div class="col-md-4 offset-2">
                        <h4 class="headColor fw-bolder"> Last Name </h4>
                        <span class="bg-light">
                            <p class="Pinfo"> {{dataPatient?.lastName}} </p>
                        </span>
                    </div>
                </div>
                <div class="row  py-4">
                    <div class="col-md-6 ">
                        <h4 class="headColor fw-bolder">Email</h4>
                        <span class="bg-light">
                            <p class="Pinfo "> {{dataPatient?.email}}</p>
                        </span>
                    </div>
                    <div class="col-md-4 offset-2">
                        <h4 class="headColor fw-bolder"> Address </h4>
                        <span class="bg-light">
                            <p class="Pinfo"> {{dataPatient.address}} </p>
                        </span>
                    </div>
                </div>
            </section>
        </div>
    </div>
</header>
<div class="container">
    <div class="row">
        <h4 class="headColor fw-bolder text-center"> Appointments' Info</h4>
        <section class="appointInfo">
            <div class="row  py-4">
                <div class="col-md-6 ">
                    <h4 class="headColor fw-bolder">Time & Date</h4>
                    <span class="bg-light">
                        <p class="Pinfo "> {{dataAppoint?.Date +' At '+dataAppoint?.Time}} </p>
                    </span>
                </div>
                <div class="col-md-4 offset-2">
                    <h4 class="headColor fw-bolder"> Doctor’s Name </h4>
                    <span class="bg-light">
                        <p class="Pinfo"> {{dataAppoint?.doctorId?.firstName+' '+dataAppoint?.doctorId?.lastName}} </p>
                    </span>
                </div>
            </div>
            <div class="text-center">
                <img class="w-25 " [src]="dataPatient?.images[0]" alt="brianscans" srcset="">
            </div>
            <section *ngIf="medHistory!=null">
                <h4 class="headColor fw-bolder text-center"> Medical History</h4>

                <div class="row  py-4">
                    <div class="col-md-6 ">
                        <h4 class="headColor fw-bolder">Result of model : </h4>
                        <span class="bg-light">
                            <p class="Pinfo "> {{medHistory?.analysisResultOfModel }} </p>
                        </span>
                    </div>
                    <div class="col-md-4 offset-2">
                        <h4 class="headColor fw-bolder"> Treatmant : </h4>
                        <span class="bg-light">
                            <p class="Pinfo"> {{medHistory?.treatment}} </p>
                        </span>
                    </div>
                </div>
                <div class="row  py-4">
                    <div class="col-md-6 ">
                        <h4 class="headColor fw-bolder"> Medical diagnosis :</h4>
                        <span class="bg-light">
                            <p class="Pinfo "> {{medHistory?.tumorType}} </p>
                        </span>
                    </div>
                    <!-- <div class="col-md-4 offset-2">
                    <h4 class="headColor fw-bolder"> Doctor’s Name </h4>
                    <span class="bg-light">
                         <p class="Pinfo"> {{dataAppoint?.doctorId?.firstName+' '+dataAppoint?.doctorId?.lastName}} </p>
                    </span>
                </div> -->
                </div>
            </section>
            <section *ngIf="medHistory==null">
                <form [formGroup]="editMedHistory" (ngSubmit)="getFormData(editMedHistory)">
                    <div class="row  py-4">
                        <div class="col-md-6 ">
                            <h4 class="headColor fw-bolder">Tumor type :</h4>
                            <input type="text" formControlName="tumorType" class="Pinfo">
                        </div>
                        <div class="col-md-4 offset-2">
                            <h4 class="headColor fw-bolder">Treatment :</h4>
                            <input type="text" formControlName="treatment" class="Pinfo">
                        </div>
                    </div>
                    <div class="d-flex justify-content-end">
                        <button class="btn btn-success my-3" type="submit">Add medical history </button>
                    </div>
                </form>
            </section>
            <section *ngIf="medHistory!=null">
                <h4 class="headColor fw-bolder">Add Notes : </h4>
                <div>
                    <button class="toggle-btn" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample"
                        aria-expanded="false" aria-controls="collapseExample">
                        <i class="fa fa-plus"></i>
                    </button>
                    <div class="collapse" id="collapseExample">
                        <div class="form-outline">
                            <div class="row">
                                <div class="col-md-6">
                                    <h5 class="headColor fw-bolder">new Notes : </h5>
                                    <form [formGroup]="addNote" (ngSubmit)="addNewNote(addNote)">
                                        <textarea formControlName="content" class="Pinfo fs-5" id="textAreaExample"
                                            rows="4" cols="50"></textarea>
                                        <div class="d-flex justify-content-end">
                                            <button class="btn btn-success my-3" type="submit">Save notes </button>
                                        </div>
                                    </form>
                                </div>
                                <div class="col-md-6">
                                    <h5 class="headColor fw-bolder">Last Notes : </h5>
                                    <section *ngFor="let note of dataNotes;let i=index">
                                        <ul class="Note ">
                                            <li class="text-light ">{{note .content}} </li>
                                            <i class="fa fa-user me-3" aria-hidden="true"></i><small class="text-light mx-1">{{note.author}}</small>
                                        </ul>
                                    </section>  
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </section>
        </section>
    </div>
</div>
<!-- <div class="display-3">
    {{addNote.value|json}}
</div>  -->
<!-- 
<button class="toggle-btn" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample"
aria-expanded="false" aria-controls="collapseExample">
<i class="fa fa-plus"></i>
</button>

<div class="collapse" id="collapseExample">
<div class="form-outline">
    <textarea class="form-control" id="textAreaExample" rows="4"></textarea>
</div>
<button class="btn btn-success my-3" type="submit">Save notes</button>
</div> -->














































<!-- <div class="container">
    <div class="row py-5 my-3">
        <div class="row py-2 my-3">
            <div class="text-center">
                <h1 class="headingDocCard py-4 my-3 fw-bolder">Your upcoming appointments</h1>
            </div>
            <div>
            <mat-progress-spinner class="m-auto" mode="indeterminate" *ngIf="IsWait">
            </mat-progress-spinner></div>
        </div>

        <div *ngFor="let app of appoints" class="col-md-3 py-3">
            <div *ngIf="!IsWait" class="card text-center fs-4 w-75">
                <div class="card-body">
                    <h4 class="card-title fw-bolder">{{app?.userId?.firstName+' '+app?.userId?.lastName}}</h4>
                    <h5>{{app?.Date}}</h5>
                    <h6 class="fw-bolde"><i class="fa fa-clock-o py-2"></i> {{app?.Time}}</h6>
                    <h6 class="fw-bolde"><i class="fa fa-map-marker py-2"></i> {{app?.userId?.address}}</h6>
                    <button (click)="acceptAppoint(app._id)" type="button" class="btn btn-outline-success m-2 fs-5 fw-bold">Accept</button>
                    <button type="button" class="btn btn-outline-danger fs-5 fw-bold m-1">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div> -->